@import "reset";

body {
  background: url("../images/bg.png") left top no-repeat;
}

.dev {
  min-height: 3000px;
  opacity: 0.7;
}

.header {
  background: url("../images/gradient.png");
  height: 96px;
  text-align: center;

  &__input {
    display: inline-block;
    margin: 15px;

    &-field {
      width: 190px;
      height: 40px;
    }

    &-caption {
      color: white;
      font-family: Helvetica;
      text-align: left;
      font-size: 11px;
    }
  }
}

.chartreuse-button {
  font-family: Helvetica;
  font-weight: 900;
  display: inline-block;
  background-color: #BED900;
  padding: 12px 20px;
  margin: 0 20px;
  border-radius: 5px
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.top-block {
  height: 96px;
  background: url("../images/logo.png") no-repeat;
  background-position: 40px 19px;

  &__content {
    width: 750px;
    float: right;
    padding: 30px 0;
  }

  &__phone {
    position: relative;
    margin-right: 64px;

    &-number {
      font-family: Helvetica;
      font-size: 27px;
      padding-right: 10px;
    }

    &-separator {
      width: 35px;
      height: 10px;
      border-bottom: 2px solid #ECB84C;
      -webkit-transform: rotate(108deg);
      position: absolute;
      bottom: 2px;
      left: 114px;
    }

    &-location {
      display: inline-block;
      font-size: 11px;
      margin-left: 30px;
      line-height: 14px;
      vertical-align: middle;
    }
  }
}
